@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "All Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Icon = "fas fa-users";
}

<div class="container">
    @if (Model.Count() > 0)
    {
        <div class="card card-primary shadow-lg">
            <div class="card-body" style="font-size:15px">
                <table id="DT_load" class="table table-bordered table-striped table-hover w-100 table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td width="20%">@item.FullName</td>
                                <td>@item.Email</td>
                                <td width="20%">@item.UserName</td>
                                <td width="20%">@item.PhoneNumber</td>

                                <td width="13%">
                                    <a asp-action="DeleteUser" asp-controller="Dashboard" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm text-danger mx-1" style="cursor:pointer">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Oops!</strong> No Users were found.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>